.flex-container {
    display: flex;
    flex-direction: row;
  }


  .flex-container div {
    background: rgb(202, 13, 13);
    border: black solid 20px;
    height: 70px;
    flex-grow: 1;
    font-size: 50px;
    text-align: center;
  }